/********

	GALLERY ADMIN

*/


#login_status {
	position:absolute;
	background:#fff;
	margin-top:-90px;
	min-width:240px;
	z-index:20;
	font-family:"Nexa",sans-serif;
	border-radius:2px;
	letter-spacing:1px;
	border:1px solid #ddd;
	}

#login_status ul {
	display:none;
	list-style:none;
	margin:0;
	padding:0;
	}

#login_status:hover {
	box-shadow:1px 1px 5px rgba(0,0,0,0.1);
	background:#fafafa;
	}

#login_status:hover ul {
	display:block;
	}

#login_status .user {
	padding:8px 34px 8px 10px;
	background:url("//assets.ghostshield.com/img/chevron-black.svg") right 10px top 8px no-repeat;
	background-size:16px 16px;
	cursor:default;
	}

#login_status ul li {
	display:block;
	margin:0;
	padding:0;
	background:none;
	}

#login_status ul li.lm_me,
#login_status ul li.lm_log,
#login_status ul li.lm_users,
#login_status ul li.lm_dashboard {
	border-top:1px solid #ccc;
	}

#login_status ul li a {
	display:block;
	padding:10px 10px 7px 10px;
	color:#333;
	text-decoration:none;
	line-height:14px;
	font-size:14px;
	text-transform:uppercase;
	}

#login_status ul li a:hover {
	background:#e1e1e1;
	color:#000;
	}

section.gallery_admin {
	max-width:1200px;
	margin:0 auto;
	padding-bottom:100px;
	}

.media_container {
	float:left;
	margin-right:30px;
	}

section.gallery_admin img.editing {
	/*float:left;
	margin-right:30px;*/
	}

section.gallery_admin video {
	/*float:left;
	margin-right:30px;*/
	background:#000;
	}

.gallery_data {
	border:0;
	margin-top:1em;
	}

.gallery_data td {
	padding-top:2px;
	line-height:15pt;
	vertical-align:top;
	}

.gallery_data td.label {
	padding-top:0;
	min-width:100px;
	font-family:"NexaBold", sans-serif;
	}

section.gallery_admin .previous {
	color:#888;
	}

section.gallery_admin .updated {
	color:#f30;
	}

section.gallery_admin tr.break td {
	padding-top:1em;
	}

.gallery_data tr.break td {
	padding-top:30px;
	}

.youtube_buttons {
	border:5px solid red;
	border-radius:4px;
	background:red;
	padding-left:130px;
	background:red url("//assets.ghostshield.com/img/logo/youtube.svg") 20px 50% no-repeat;
	}

.youtube_buttons .hex-button { background-color:#f1f1f1 !important; color:red; margin-top:0; cursor:pointer; }
.youtube_buttons .hex-button:hover { background-color:#e7e7e7 !important; color:red; margin-top:0; }
.youtube_buttons .hex-button:active { margin-top:0px; }

.hidden { display:none; }

section.gallery_admin form.login {
	width:400px;
	padding-bottom:100px;
	}

section.gallery_admin form.login label {
	display:block;
	width:130px;
	vertical-align:top;
	}

section.gallery_admin form.login input[type="text"],
section.gallery_admin form.login input[type="password"] {
	display:block;
	width:360px;
	height:26px;
	font-size:13pt;
	padding:6px 10px;
	vertical-align:top;
	}

.cpgallery img {
	max-width:1200px;
	margin:0 auto;
	}

.cpgallery {
	margin:0;
	padding:0 0 20px 0;
	}

.cpgallery figure {
	display:inline-block;
	vertical-align:top;
	margin:0 8px 12px 0;
	}

.cpgallery figure a {
	display:block;
	background:#fff;
	border:4px solid #fff;
	width:100px;
	height:100px;
	text-align:center;
	position:relative;
	box-shadow:1px 0px 8px rgba(0,0,0,0.02);
	}

.cpgallery figure a,
.cpgallery figure a * {
	cursor:pointer;
	}

.cpgallery figure a:hover {
	box-shadow:2px 0px 12px rgba(0,0,0,0.1);
	}

.cpgallery figure a img {
	border:0;
	max-width:100px;
	max-height:100px;
	width:auto;
	height:auto;
	margin:auto;
	vertical-align:middle;
	}

.cpgallery figure a.video:after {
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-18px;
	background:url("//assets.ghostshield.com/img/icons/youtube-color.svg") center center no-repeat;
	background-size:contain;
	width:36px;
	height:25px;
	z-index:2;
	}

.cpgallery figure figcaption {
	display:none;
	}

ul.text_menu {
	list-style:none;
	margin:0;
	padding:0 0 20px 0;
	}

section#gallery h2 {
	margin-bottom:0;
	}

h2.nopad {
	margin-bottom:0;
	}

ul.text_menu {
	list-style:none;
	margin:0 0 20px 0;
	background:#eee;
	border-bottom:1px solid #ccc;
	padding:10px;
	}

ul.text_menu li {
	display:inline;
	font-size:7.5pt;
	line-height:19px;
	letter-spacing:3px;
	text-align:left;
	font-family:"NexaBold", sans-serif;
	margin:2px 0;
	padding:0 20px 0 0;
	text-transform:uppercase;
	background:none;
	}

ul.text_menu li a,
ul.text_menu li span {
	display:inline-block;
	cursor:pointer;
	position:relative;
	color:#756a6a;
	text-decoration:none;
	padding:2px 0 2px 6px;
	overflow:hidden;
	}

ul.text_menu li a:before,
ul.text_menu li span:before {
	content:"";
	display:inline;
	float:left;
	width:16px;
	height:16px;
	margin-top:2px;
	background:url("//assets.ghostshield.com/img/icons/radio-hexagon.svg") left top no-repeat;
	background-size:16px 14px;
	margin-right:0.5em;
	}

ul.text_menu li a:hover:before {
	background:url("//assets.ghostshield.com/img/icons/radio-hexagon-active.svg") left top no-repeat;
	background-size:16px 14px;
	}

ul.text_menu li span:before {
	background:url("//assets.ghostshield.com/img/icons/radio-hexagon-checked.svg") left top no-repeat;
	background-size:16px 14px;
	}


.save-tags.hex-button { margin-left:2px; margin-right:2px; }

/*
	
	TABLES

*/

table.styled {
	width:100%;
	font-size:12pt;
	font-family:"Nexa", sans-serif;
	border:3px solid #fff;
	background:#fff;
	outline:1px solid #eee;
	margin-bottom:1em;
	}
table._line_numbers {
	font-family:courier, sans-serif;
	}
table.styled tr {
	
	}
table.styled tr:nth-child(even) {
	background:#f5f5f5;
	}
table.styled tr th {
	text-align:left;
	padding:6px 4px 5px 10px;
	background:#333;
	border-bottom:1px solid #fff;
	color:#fff;
	font-weight:normal;
	font-family:"NexaBold", sans-serif;
	}
table.styled tr th.td_checkbox {
	padding-left:7px;
	width:20px;
	}
table.styled tr td {
	padding:3px 7px;
	border-left:3px solid #fff;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	}
table.styled tr td:first-child {
	border-left:0;
	}
table.styled tr td._line_number {
	background:#e4e4e4;
	border-right:1px solid #ccc;
	text-align:right;
	width:40px;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	}
table.styled tr:nth-child(odd) td._line_number {
	background:#eee;
	}
table.styled tr td._line {
	padding-left:10px;
	}
table.styled tbody tr td a {
	color:#CC5321;
	text-decoration:none;
	border-bottom:1px dotted #FCB86D;
	}
table.styled tbody tr td a:hover {
	border-color:#F9A141;
	color:#f80;
	}
	
table.actionable tbody tr:hover,
table.actionable tbody tr.row_selected {
	outline:1px solid #FCE59D;
	background:#FCE59D;
	cursor:pointer;
	box-shadow:1px 1px 3px #f80;
	}
table.actionable tbody tr:hover td,
table.actionable tbody tr.row_selected td {
	border-color:#FCE59D;
	}

table.styled .data_key {
	width:130px;
	}
	
table.styled .td_actions_hidden {
	display:none;
	}

table.styled tfoot td {
	text-align:right;
	}

table.styled tr.unprinted {
	
	}

table.settings {
	width:100%;
	display:inline-block;
	}
	
table.settings td.key {
	width:33%;
	}
	
table.settings tfoot .button {
	float:right;
	margin-right:0;
	margin-left:10px;
	}

/*
	
PAGINATION

*/

.pagination {
	display:inline-block;
	height:25px;
	border-radius:12px;
	color:#333;
	text-align:center;
	font-size:10pt !important;
	text-indent:0;
	opacity:1;
	line-height:25px;
	padding:0;
	}

.pagination .pagination_page {
	display:inline-block;
	text-align:center;
	text-transform:uppercase;
	font-family:"NexaBold",sans-serif;
	margin:4px 0 0 0;
	line-height:14px;
	font-size:14px;
	padding:10px 18px 8px 22px;
	letter-spacing:2px;
	position:relative;
	border:1px solid transparent;
	border-bottom:1px solid rgba(0,0,0,0.2);
	border-right:1px solid rgba(0,0,0,0.1);
	text-shadow:-1px -1px 0 rgba(0,0,0,0.1);
	outline:0;
	text-decoration:none;
	z-index:1;
	background:#ff611d;
	color:#fff;
	/*cursor:pointer;*/
	-webkit-transition:background 200ms;
	transition:background 200ms;
	}
.pagination span.pagination_page {
	color:rgba(0,0,0,0.2);
	}
.pagination span.pagination_on {
	margin-right:0;
	color:#fff;
	}
.pagination .pagination_after_on {
	border-left-width:0;
	}
.pagination .pagination_page.first_child {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-left-width:1px;
	}
.pagination .pagination_page.last_child {
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	background:#eee;
	color:#333;
	border:1px solid #bbb;
	border-left:0;
	}
.pagination .pagination_page.pagination_disabled {
	background:#ddd;
	}
.pagination .pagination_delimiter {
	display:none;
	}

/*

CONTEXTUAL MENU

*/

#popup_menu {
	background:#fff;
	color:#000;
	border:1px solid #bbb;
	border-top-color:#eee;
	border-left-color:#ddd;
	border-bottom-color:#aaa;
	padding:5px 0;
	position:absolute;
	display:inline;
	box-shadow:1px 1px 6px rgba(0,0,0,.14);
	font-family:"Nexa", sans-serif;
	}
#popup_menu>ul>li:first-child>ul>li:first-child>a:before {
	content:" ";
	display:block;
	position:absolute;
	left:-6px;
	top:32px;
	width:0;
	height:0;
	border:0 solid transparent;
	border-top-width:6px;
	border-bottom-width:6px;
	border-right:6px solid #ffffff;
	}
#popup_menu>ul>li:first-child>ul>li:first-child>a:hover:before {
	border-right-color:#fc9700;
	}
#popup_menu ul {
	list-style-type:none;
	padding:0;
	margin:0;
	}
#popup_menu ul ul {
	padding-bottom:5px;
	}
#popup_menu ul ul:last-child {
	padding-bottom:1px;
	}
#popup_menu ul span.optgroup {
	display:block;
	padding:1px 10px 1px 10px;
	}
#popup_menu ul a,
#popup_menu ul span.disabled {
	display:block;
	padding:3px 20px 1px 30px;
	text-decoration:none;
	color:#CC5321;
	min-width:100px;
	}
#popup_menu ul span.disabled {
	color:#888;
	}
#popup_menu ul a:hover {
	background:#f80;
	color:#fff;
	}

/*

FORMS

*/

form .control-group label._form_error {
	color:#ff611d;
	font-family:"Nexa", sans-serif;
	}
form .control-group input._form_error {
	background-color:#feefef;
	}
form .control-group {
	padding:9px 0 0 0;
	clear:left;
	}
form .control-group-gap {
	padding-top:2em;
	margin-left:0 !important;
	text-align:center;
	}
form .control-group .control-group-gap.controls a {
	background:#bbb;
	}
/*form .control-group .control-group-gap.controls a:hover {
	background:#888 !important;
	}*/
form .control-group label.control-label {
	float:left;
	width:260px;
	padding:2px 0;
	line-height:24px;
	}
form .control-group label.control-label:after {
	content:":";
	}
form .control-group .controls {
	margin-left:260px;
	}
form .control-group .controls input[type="text"],
form .control-group .controls input[type="password"],
form .control-group .controls textarea {
	width:380px;
	padding:2px 3px;
	}
	
form .control-group .colorpicker-element input[type="text"] {
	width:350px;
	}
form .control-group .controls select {
	width:380px;	
	}

select::-ms-expand {
	display: none;
	}
form select option._recommended {
	font-weight:bold;
	}
form .control-group .controls button.right,
.button.right {
	float:right;
	margin-right:0;
	margin-left:8px;
	}

form ._form_errors {
	font-size:80%;
	background:#f3f3f3;
	border:1px solid #e1e1e1;
	margin-bottom:1em;
	padding:14px 10px 8px 10px;
	}
form ._form_errors p {
	margin:0;
	padding:0;
	}
form ._form_errors ul {
	list-style-type:none;
	margin:0 0 0 4px;
	}

#gallery_login_form,
#gallery_forgot_password_form,
#gallery_password_reset_form {
	width:500px;
	padding:30px 40px;
	margin:0 auto;
	}

#gallery_login_form .control-group .controls,
#gallery_forgot_password_form .control-group .controls,
#gallery_password_reset_form .control-group .controls {
	margin-left:160px;
	}
#gallery_login_form .control-group label.control-label,
#gallery_forgot_password_form .control-group label.control-label,
#gallery_password_reset_form .control-group label.control-label {
	width:160px;
	}
#gallery_login_form .control-group .controls input[type="text"],
#gallery_login_form .control-group .controls input[type="password"],
#gallery_forgot_password_form .control-group .controls input[type="text"],
#gallery_forgot_password_form .control-group .controls input[type="password"],
#gallery_password_reset_form .control-group .controls input[type="text"],
#gallery_password_reset_form .control-group .controls input[type="password"] {
	width:300px;
	}

p.form_header {
	padding-top:0;
	margin-top:0;
	}

.cpgallery figure a { position:relative; }
.cpgallery figure a div.info {
	display:none;
	font-size:8pt;
	font-family:sans-serif;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:3px;
	background:rgba(255,255,255,0.85);
	color:#000;
	text-align:left;
	}

.cpgallery figure a * {
	cursor:pointer;
	}

.cpgallery figure a div.info span.true {
	color:#119933;
	}

.cpgallery figure a div.info span.false {
	color:#ff5599;
	}

.cpgallery figure a div.info span.link {
	color:#6655ff;
	text-decoration:underline;
	padding-top:5px;
	display:block;
	}

.cpgallery figure a div.info table {
	border-collapse:collapse;
	width:100%;
	}

.cpgallery figure a:hover div.info {
	display:block;
	}


/********

	JQUERY.TAG-EDITOR

*/

/* surrounding tag container */
.column ul.tag-editor {
    list-style-type:none; padding:0 5px 0 0; margin:0; overflow:hidden; border:1px solid #ccc; cursor:text;
    font-size:14px !important; font-family:"Nexa", sans-serif; color:#555; background:#fff; line-height:20px;
	}

/* core styles usually need no change */
.column ul.tag-editor li { display:block; float:left; overflow:hidden; margin:3px 0; padding:0; background:none; }
.column ul.tag-editor div { float:left; padding:0 4px; }
.column ul.tag-editor .placeholder { padding:0 8px; color:#bbb; }
.column ul.tag-editor .tag-editor-spacer { padding:0; width:8px; overflow:hidden; color:transparent; background:none; }
.column ul.tag-editor input {
    vertical-align:inherit; border:0; outline:none; padding:0; margin:0; cursor:text;
    font-family:inherit; font-weight:inherit; font-size:inherit; font-style:inherit;
    box-shadow:none; background:none; color:#444;
	}
/* hide original input field or textarea visually to allow tab navigation */
.tag-editor-hidden-src { position:absolute !important; left:-99999px; }
/* hide IE10 "clear field" X */
.column ul.tag-editor ::-ms-clear { display:none; }

/* tag style */
.column ul.tag-editor .tag-editor-tag {
    padding-left:5px; color:#46799b; background:#e0eaf1; white-space:nowrap;
    overflow:hidden; cursor:pointer; border-radius:2px 0 0 2px;
	}

/* delete icon */
.column ul.tag-editor .tag-editor-delete {
	background:#e0eaf1; cursor:pointer; padding-left:3px; padding-right:4px;
	padding-top: 2px; line-height:18px; border-radius:0 2px 2px 0;
	}
.column ul.tag-editor .tag-editor-delete i { line-height:18px; display:inline-block; }
.column ul.tag-editor .tag-editor-delete i:before { font-size:18px; vertical-align:bottom; color:#8ba7ba; content:"×"; font-style:normal; }
.column ul.tag-editor .tag-editor-delete:hover i:before { color:#d65454; }
.column ul.tag-editor .tag-editor-tag.active+.tag-editor-delete, .column ul.tag-editor .tag-editor-tag.active+.tag-editor-delete i { visibility:hidden; cursor:text; }

.tag-editor .tag-editor-tag.active { background:none !important; }

/* jQuery UI autocomplete - code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css */
.ui-autocomplete { position:absolute; top:0; left:0; cursor:default; font-size:14px; }
.ui-front { z-index:9999; }
.ui-menu { list-style:none; padding:1px; margin:0; display:block; outline:none; }
.ui-menu .ui-menu-item a { text-decoration:none; display:block; padding:2px .4em; line-height:1.4; min-height:0; /* support: IE7 */ }
.ui-widget-content { border:1px solid #bbb; background:#fff; color:#555; }
.ui-widget-content a { color:#46799b; }
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background:#e0eaf1; }
.ui-helper-hidden-accessible { display:none; }

textarea#gallery_tags { height:80px; width:360px; }
.column form > ul.tag-editor { height:80px; min-width:360px; }